<div class="navbar" data-spy="affix" data-offset-top="300">
  <ul class="nav navbar-nav">
    <li>
      <a href="#">Download</a>
    </li>
    <li>
      <a href="#setting">Setting</a>
    </li>
    <li>
      <a href="#art">Art</a>
    </li>
    <li>
      <a href="#rules">Rules</a>
    </li>
    <li>
      <a href="#blog">Blog</a>
    </li>
  </ul>
</div>